.g-card{
  margin:20px;
}

.g-card-image{
  border:none;
  width:200px;
  height: 320px;
  transition:all 0.5s ease;
}

.g-card-image:hover {
  transform: scale(1.1);
}

.g-card-info{
  margin-top: 10px;
  min-height: 100px;
}

.g-card-title{
  font-size:24px;
  margin:0px;
}

.g-card-sub-title{
  font-size:16px;
  margin:0;
}

.g-card-tool-icon{
  width:30px;
  height: 30px;
  margin-right:5px;
  /*box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.16)*/
}

.g-card-link{
  text-decoration: none;
  color:#242424;
  cursor:pointer;
  font-size:16px;
}
