.contact-form {
  margin:0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;

}

.form-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 6px;
  color: #4faa99;
  font-weight:bold;
}


.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    #4faa99 0%,
    #3d8b8c 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #3e8895 0%,
    #7886ac 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-btn:active{
  transform:scale(0.9);
}

.success-msg{
  color: #57a773;
  padding:10px 15px;
}
.err-msg{
  color: #ee6252;
  padding:10px 15px;
}


