
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Quattrocento:wght@400;700&family=Satisfy&display=swap');


body {
  font-family:'Quattrocento', serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Oswald', sans-serif;
}

a{
  font-family:'Quattrocento', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-hero-container{
  /*background-image: linear-gradient(to left top, #72c89e, #5fb99c, #4faa99, #449a94, #3d8b8c, #3e8895, #47859b, #55819e, #7886ac, #9d89af, #bd8da9, #d3969e);*/
}




.accordion-card-header{
  background-image: linear-gradient(to left top, #72c89e, #5fb99c, #4faa99, #449a94, #3d8b8c);
  transition:all 0.3s ease;
}

.accordion-card-header:hover{
  background:#7886ac;
  cursor:pointer;
}

